* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header { 
  height: 115px;
}

ul {
  list-style: none;
}


a {
  text-decoration: none;
}

main {
  padding-top: 60px;
  padding-bottom: 55px;
  background-color: black;
  color: white;
}
